<h1>About Page</h1>
<p>Hi the data source that I'm using, is a Yugioh api that gets all the Yugioh cards that have been created
and will post those cards Description, Atk, Def, Race, Type, Attribute onto the page.</p>
<a href="https://db.ygoprodeck.com/api-guide/">Here is the api that I'm using.</a>
<p>Here's my ERD of my diagram</p>
<%= link_to image_tag('erd.png')%>